body {
	background-color: rgb(21, 21, 21);
}

/* https://stackoverflow.com/questions/19461521/how-to-center-an-element-horizontally-and-vertically#:~:text=For%20vertical%20alignment%2C%20set%20the,any%20other%20inline%20children%20elements */
canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius: 50px;
}

/* https://css-tricks.com/almanac/properties/b/box-shadow/ */
canvas {
	box-shadow: 0 2.8px 2.2px rgba(255, 255, 255, 0.034),
		0 6.7px 5.3px rgba(255, 255, 255, 0.048),
		0 12.5px 10px rgba(255, 255, 255, 0.06),
		0 22.3px 17.9px rgba(255, 255, 255, 0.072),
		0 41.8px 33.4px rgba(255, 255, 255, 0.086),
		0 100px 80px rgba(255, 255, 255, 0.12);
}
